# Cython specific generated stuff inside src :(
python/module/*.c
python/module/*.h
python/module/*.cpp
python/module/*.hpp

config.h
config.pxd
config.py
setup.py

build/*

doc/*

# Byte-compiled / optimized / DLL files
__pycache__/
module/
*.py[cod]
*$py.class
env/

*.so
*.o

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

.vscode/
/cmake-build-debug/
/CMakeFiles/
/udp/recorded
